form {
  display: flex;
  flex-direction: column;
  position: relative;
  // overflow: hidden;
  margin-bottom: 3em;
}

.c-form__labels {
  position: absolute;
  transition: font-size 0.5s ease-in-out;
}

.c-form__input {
  background: $grey;
  width: 100%;
  border: none;
  padding: 1em 0 1em 1em;
  margin-top: 2.5em;
  margin-bottom: .5em;
}

textarea {
  background: $grey;
  width: 100%;
  border: none;
  padding: 1em 0 1em 1em;
  margin-top: 1.5em;
}

.c-form__submit {
  background: black;
  width: 100%;
  border: none;
  color: white;
  margin: 2em 0 0 0;
  padding: 1em;
  cursor: pointer;
  font-size: 1.2em;
}

.c-invalid__input {
  border: 1px solid red;
}

input:focus {
  outline: none;
}

.c-invalid__message {
  color: red;
  visibility: hidden;
}

.c-contact__label {
  margin-bottom: 1em;
}