.c-vertcarousel {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-left: 2vw;
}

.c-vertcarousel__carousel {
  height: 690px;
  height: 690px;
  overflow-y: hidden;
}

.c-vertcarousel__image {
  width: 160px;
  height: 210px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: ease-out .3s;
}

.c-vertcarousel__upArrow {
  width: 20px;
  margin: 0 auto;
  cursor: pointer;
  transform: rotate(180deg);
}

.c-vertcarousel__downArrow {
  width: 20px;
  margin: 1em auto;
  cursor: pointer;
}